.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; //space-between
  // align-content: center;
  list-style-type: none;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  align-content: center;
  margin: 5px;
}

.photo-list.dark-mode {
  background-color: #2c2c2c;
  color: #ffffff;

  .photo-list__item {
    background-color: #3c3c3c;
  }
}