.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 0px 8px -5px #222;
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar__logo:hover {
  text-shadow: #FC0 1px 0 10px;
}


.top-nav-bar__logo.dark-mode {
  color: rgba(255, 174, 0, 0.803);
}


.top-nav-bar__notification-darkMode {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
 
}

.top-nav-bar.dark-mode {
  color: rgb(232, 217, 52);
}

.top-nav-bar__dark-mode-icon {
  background-color: inherit;
  color: goldenrod;
  border: none;
  border-color: none;
  border-radius: 20%;
  height: -50px;
  cursor: pointer;

  &:hover {
    text-shadow: #FC0 1px 0 10px;
  }
  // padding: 2px;
}